body {
    background-color: rgb(194, 243, 211);
}
h1 {
    margin-bottom: 15px;
    font-size: 60px;
    color: white;
    text-align: center;
    background-color: black;
    text-decoration: underline;
}

.links {
    margin-bottom: 15px;
    font-size: 25px;
    color: white;
    text-align: left;
    background-color: rgb(201, 182, 182);
    text-decoration: underline;

}

p {
font-size: 16px;
font-weight: bold;
}

img {
margin-left: auto;
margin-right: auto;
display: block;
}

.contact {
text-align: center;
font-size: 16px;
border-style: solid;
border-width: 3px;
list-style-position: inside;
}

table {
font-size: 16px;
font-weight: bold;
text-align: center;
}

footer {
font-size: 14px;
text-align: center;
font-weight: lighter;
}